---
import { type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
  entry: CollectionEntry<'things'>
  next: string
}

const { entry, next } = Astro.props
const { description, image, comment } = entry.data
const { Content } = await entry.render()

const nextUrl = new URL(`/${next}`, Astro.url)
---
<style>
  #wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    place-content: center;
    place-items: center;
    min-height: 100vh;
  }

  #content:empty {
    display: none;
  }

  #nav {
    text-align: center;
  }

  .thing-image {
    max-width: 80vw;
    object-fit: contain;
    height: 400px;
  }

  a.next {
    color: dodgerblue;
    color: LinkText;
  }
</style>
<div id="wrapper">
  <a href={nextUrl}>
    <Image
      src={image}
      alt={description}
      width={400}
      class:list={['thing-image']}
    />
  </a>
  <div id="content">
    <Content />
  </div>
  <div id="nav">
    <a href={nextUrl} class="next">{comment}</a>
  </div>
</div>
